name: Deploy Flutter Web via FTP

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter Web
        run: dart run ./lib/tools/build_web.dart

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftp.tyrbine.com
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: build/web/
          server-dir: /public_html/
          protocol: ftp
          exclude: |
            **/.git*
            **/.github*
            **/node_modules/**
            **/README.md
